<div class="container-fluid plant">
  <table class="table">
    <tr class="table table-success">
      <td>
        <h3 class="plant-text"> <%= link_to @recipe.name, "#{@recipe.url}", target: :blank %> </h3>
        <%= link_to (image_tag @recipe.image, class:"plant-image"), "#{@recipe.url}", target: :blank %>
      </td>
    </tr>
    <tr>
      <td class="ingredient col-xs-6">
        recipe from <%= link_to @recipe.source, "#{@recipe.url}" %>
        <%= link_to "make it", "#{@recipe.url}", class:"btn btn-warning btn-xs recipe", target: :blank %>
      </td>
    </tr>
    <tr>
      <td class="plant-text">servings: <%= @recipe.servings %></td>
    </tr>
    <tr>
      <td>
        <h5 class="plant-text">ingredients:</h5>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li class="ingredient"> <%= ingredient %> </li>
          <% end %>
        </ul>
      </td>
    </tr>
  </table>
</div>
