<div class="container-fluid plant">
  <h1 class="plant-text"> <%= @plant.name %> </h1>
  <p class="plant-text"> <%= @plant.description %> </p>
  <%= cl_image_tag(@plant.image_url, :class=>'plant-image', :height=>300, :fetch_format=>:auto, :crop=>"scale") %>
  
  <%= button_to "add to my garden", gardens_path, params: {plant_id: @plant.id}, class: "btn btn-primary button" %><br>
  <table class="table table-bordered">
    <tr>
      <th class="plant-text bold">optimal_sun</th>
      <th class="plant-text bold">optimal_soil</th>
    </tr>
    <tr class="table table-success">
      <td class="plant-text"> <%= @plant.optimal_sun %> </td>
      <td class="plant-text"> <%= @plant.optimal_soil %> </td>
    </tr>
  </table>
  <a name="when_to_plant"></a>
  <h4 class="plant-text bold">planting considerations:</h4>
  <p class="plant-text">
    <%= @plant.planting_considerations %>
  </p>
  <h4 class="plant-text bold">when to plant:</h4>
  <p class="plant-text">
    <%= @plant.when_to_plant %>
  </p>
  <h4 class="plant-text bold">growing from seed:</h4>
  <p class="plant-text">
    <%= @plant.growing_from_seed %>
  </p>
  <h4 class="plant-text bold">transplanting:</h4>
  <p class="plant-text">
    <%= @plant.transplanting %>
  </p>
  <h4 class="plant-text bold">spacing:</h4>
  <p class="plant-text">
    <%= @plant.spacing %>
  </p>
  <a name="care"></a>
  <h4 class="plant-text bold">watering:</h4>
  <p class="plant-text">
    <%= @plant.watering %>
  </p>
  <h4 class="plant-text bold">feeding:</h4>
  <p class="plant-text">
    <%= @plant.feeding %>
  </p>
  <h4 class="plant-text bold">other care:</h4>
  <p class="plant-text">
    <%= @plant.other_care %>
  </p>
  <h4 class="plant-text bold">diseases:</h4>
  <p class="plant-text">
    <%= @plant.diseases %>
  </p>
  <h4 class="plant-text bold">pests:</h4>
  <p class="plant-text">
    <%= @plant.pests %>
  </p>
  <a name="harvesting"></a>
  <h4 class="plant-text bold">harvesting:</h4>
  <p class="plant-text">
    <%= @plant.harvesting %>
  </p>
  <h4 class="plant-text bold">storage and use:</h4>
  <p class="plant-text">
    <%= @plant.storage_use %>
  </p>
  <h4 class="plant-text bold">recipes:</h4>
  <p class="plant-text">
    <%= link_to "Lets cook some #{@plant.name}!", recipes_path(plant: @plant.name) %>
  </p>
</div>
