<div class="container-fluid plant">
  <h3 class="plant-text">
    <%= current_user.name %>'s garden
  </h3>
  <% if !current_user.plants.empty? %>
    <table class="table">
      <% @plants.each do |plant| %>
      <tr>
        <td>
          <%= link_to cl_image_tag(plant.image_url, :class=>'plant-image', :height=>100, :fetch_format=>:auto, :crop=>"scale"), plant_path(plant) %>
        </td>
        <td>
          <h4 class="plant-text"><%= link_to plant.name, plant_path(plant) %></h4>
          <div class="row">
            <div style="padding-left: 25px;">
              <%= link_to "recipes", recipes_path(plant: plant.name), class:"btn btn-warning btn-xs" %>
              <%= link_to "remove from garden", garden_plants_path(plant_id: plant.id), method: :delete, class:"btn btn-danger btn-xs" %>
            </div>
          </div>
         </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <h4 class="plant-text">Your garden is empty.</h4>
    <h4 class="plant-text">Find some plants to add <%= link_to "here", plants_path %>.</h4>
  <% end %>
</div>
