<div class="container-fluid plant">
  <h3 class="plant-text">
    <%= image_tag current_user.image, class: "img-circle"%>
    <%= current_user.name %>'s garden
  </h3>
  <table class="table">
    <% @plants.each do |plant| %>
    <tr>
      <td>
        <%=link_to image_tag(plant.image(:thumb)), plant_path(plant) %>
      </td>
      <td>
        <h4 class="plant-text"><%= link_to plant.name, plant_path(plant) %></h4>
        <div class="row garden">
            <%= link_to "recipes", recipes_path(plant: plant.name), class:"btn btn-warning btn-xs" %>
            <%= link_to "remove from garden", recipes_path(plant: plant.name), class:"btn btn-danger btn-xs" %>
        </div>
       </td>
    </tr>
    <% end %>
  </table>
</div>
