<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag "favicon.ico" %>
  <title>HarvestHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
<body>
  <%# <%= render 'layouts/navbar' %>
  <%# <% flash.each do |type, message| %>
  <%#   <%= content_tag :div, sanitize(message), class: "alert alert_#{type} admin-flash" %>
  <%# <% end %>
  <%# <%= yield %>
  <%# <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'hello_react' %>
</body>
</html>
